<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%highlight{%d{HH:mm:ss}{GMT+0} [%t] %-5level: %c{1}.%M(%F:%L) - %msg%n%throwable}"/>
        </Console>
        <File name="File" fileName="evaluator.log">
            <PatternLayout pattern="%d{HH:mm:ss}{GMT+0} [%t] %-5level: %c{1}.%M(%F:%L) - %msg%n%throwable"/>
        </File>
        <Console name="Info" target="SYSTEM_OUT">
			<PatternLayout pattern="%highlight{%d{HH:mm:ss}{GMT+0} [%t] %-5level: %c{1}} - %msg%n%highlight{%throwable}"/>
        </Console>
        <Console name="Direct" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="off">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="DefaultDockerClient" level="debug">
            <AppenderRef ref="Console" level="warn"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="de.rub.nds.tls.subject" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="de.rub.nds.tlstest.evaluator" level="debug" additivity="false">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="Direct" level="trace" additivity="false">
            <AppenderRef ref="Direct"/>
        </Logger>
        <Logger name="DirectLogger" level="trace" additivity="false">
            <AppenderRef ref="Direct"/>
        </Logger>
    </Loggers>
</Configuration>
